body{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;*
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

.wholeDiv {
    display: none;
    width: 100vw;
}

#loader img {
    width: 40vw;
    height: 60vh;
    margin-left: 30vmax;
    margin-top: 10vmax;
}

#loader {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#aboveposter{
    
    align-items: center;
    font-size:24px;
    font-weight: 700;
    margin-left:37%;
}

#aboveposter>.threeLines>img{
    margin-left: 150%;
}

#preferenceContainer{
    
    font-size:18px;
    width:350px;
    height:48px;
    border-radius: 20%;
    padding:2px;
    text-align: center;
    background: #e3e3e3;
    display: inline-flex;
    border-radius: 200px;
    margin-top: 20px;
    
    
}
.preference{
    padding: 10px 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #494949;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border:none;
    cursor: pointer;
   
}


#delivery{
    border-radius: 200px;
    background-color: red;
}

.preference b a{
    text-decoration: none;
    color:black;
}

.poster {
    position: relative;
    cursor: pointer;
}

.poster img {
    width: 100%;
}

.belowPoster {
    /* border: 1px solid black; */
    background-color: #F8F7F5;
    margin-top: -7px;
    
}

.threeLines {
    width: 20px;
    height: 50px;
   
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    /* background-repeat-x: initial;
    background-repeat-y: initial; */
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    margin-left: 13%;

}  
.threeLines img{
    width: 40px;
    height: 22px;
} 

.belowPosterText {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    /* line-height: 58px; */
    text-transform: uppercase;
    color: #202124;
    margin-left: 13%;
    line-height:50px;
    letter-spacing:0.5px;
   
}

#mainCategoriesDiv{
 padding:0% 12%;
 
}

.categories {
    /* border: 1px solid black; */
    /*margin-top: -0%;*/
   /* margin-left: 10%;*/
    display: flex;
}

.browseCategories {
    
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #202124;
    margin-top: 60px;
    margin-bottom: 55px;
    width:100%
    
    
}

.horizontalLine {
    width: 100%;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(227, 227, 227);
    margin-top: 85px;
    margin-left:-35%;
}

.menuCardContainer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /*margin-left: 10%;*/
    margin-bottom: 3%;
    gap:20px;
    

}
.category_wrapperClass{
    background-color: rgb(248,247,245);
    border-radius: 4px;
   
}


.menuCard {
   
    display: inline-block;
    background: #FFFFFF;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 240px;
    height: 240px;
    background-color: rgb(248,247,245);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    
}

.menuCard img {
    width: 102%;
    height: 180px;
    /*margin-left: -1px;*/
    margin-top: -0.5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}



.menuText {
    text-align: center;
    font-family: National 2 Condensed;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: .5px;
   /* text-transform: uppercase;*/
    color: #202124;
    bottom: 7%;
    margin-top: 10px;
    background-color: rgb(248,247,245);
}

#Offers_Deals{
    width: 100%;
    background-color: rgb(32,33,36);
    
}

#Offers_Deals>.offers>img{
    width:70px;
    height:40px;
    margin-left:2%;
    
}



.offers {
    display: flex;
    margin-top: 10%;
    margin-bottom: 5%;
    justify-content: space-around;
   
}

.offers a {
    text-decoration: none;
}

.offers .viewAll {
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    /*margin-top: 5px;*/
    color: #202124;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
    margin-top:80%;
}

    

.offersAndDeals h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    color: #fff;
    margin-top:30%;
    text-align: left;
    margin-left: -150%;  
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    padding: 0 13%;
    margin-bottom: 10%;
}

.card {
    box-shadow: 0 4px 9px rgb(0 0 0 / 15%);
    position: relative;
    width: 310;
    height: 398px;
    background-color: #f8f7f5;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.cardContentTitle {
    height: 43px;
    margin-right: 5%;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 43px;
    color: #e4002b;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cardContent {
    width: 80%;
    height: 48px;
    margin-left: 5%;
    letter-spacing: 0.1px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #202124;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.cardButton {
    display: flex;
    justify-content: inherit;
    position: absolute;
    bottom: -1%;
    align-items: baseline;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 5px;
    margin-left: 7%;
}

.offerViewDetails {
    border: none;
    background: none;
    text-decoration: underline;
    padding: initial;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #494949;
    /* margin-left: 10%; */
    width: 80px;
    height: 20px;
}

.offerViewDetails:hover {
    background-color: #d2d6ddb2;
    cursor: pointer;
}

.cardImg img {
    width: 100%;
    height: 235px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cardButton .redeemButton {
    font-family: 'Fira Sans Condensed', sans-serif;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid #202124;
    color: #202124;
    margin-left: 20%;
}

.redeemButton:hover {
    background-color: #202124;
    color: #f8f7f5;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px 40px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    padding-bottom: 30px;
    
  }

  #popupOfferDeal{
    font-size: 28px;
    font-weight: 700;
    text-align: left;
  }

  #popuptitle{
    font-size: 23px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .popupRedeem{
    width:250px;
    height:40px;
    border-radius: 50px;
    border: solid 1px black;
    background-color: transparent;
    font-size: 13px;
  }









