/* ---------------<<<<<<<Universal>>>>>>---------------- */
/* *{
    margin: 0;
    padding: 0;
} */
/* ------<<<<<<<<< main div >>>>>>-------- */
#main_signpage_container{
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    border: 1px solid;
    text-align: center;
    padding: 20px;
    margin: auto;
}
/* ------<<<<<<<<< Account div like H2 >>>>>>-------- */

#second_div_account{
    /* border: 1px solid; */
    width: 43%;
    margin-bottom: 8%;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    padding: 15px;
    /* margin-bottom: 10px; */
}
/* ------<<<<<<<<< All button >>>>>>-------- */

#send_me_code button{
    width: 15%;
    height: 8%;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-top: 40px;;
   
}
#skip_continue_guest{
    margin-top: 50px;
    margin-bottom: 40px;
}
#skip_continue_guest button{
    width: 38%;
    height: 8%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
}
/* ------<<<<<<<<< Search Main div input >>>>>>-------- */

#search_phone_number > input{
    width: 40%;
    border: none; 
    /* border: 1px solid; */
    border-bottom: 1px solid rgb(13, 12, 12);
    /* text-align: start; */
    /* margin-left: -25%; */
    margin-top: 20px;
    outline: none;
}
input[type=text] {
    width: 45%;
    padding: 12px 20px;
    margin: 8px; 
    box-sizing: border-box; 
    /* margin-left: -3%; */
   
  }
/* ------<<<<<<<<< Paragraph >>>>>>-------- */

  #paragraph{
    margin-top: 10px;
  }

::placeholder{
    color: black;
}

/* ------<<<<<<<<< All Hr Tag>>>>>>-------- */

hr{
    width: 38%;
    background-color: black;
    /* border: 1px; */
}
#hr_tag{
    width: 45%;
    /* border: 1px solid; */
    /* background-color: blue; */
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

.left_div{
    width: 38%;
    background-color: rgb(225, 229, 231);
    border: 0.5px solid rgb(245, 236, 236);
    margin-left: 40px;
    margin-bottom: -13px;
}
.center_div{
    width: 5%;
    /* border:1px solid; */
    margin:auto;
    /* margin-bottom: 5%; */
}
.right_div{
    width: 38%;
    background-color: rgb(225, 229, 231);
    border: 0.5px solid rgb(245, 236, 236); 
    margin-left: 55%;
    margin-top: -8px;
}
#pop_message{
    color: red;
}

